<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <title>安眼系统</title>
    <style type="text/css">
        html, body {
            background-color: #eeeeee;
            text-align: center;
        }
    </style>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap.min.css'  %}">-->
    <link rel="stylesheet" type="text/css" href="/lib/layui/css/layui.css"  >
    <link rel="stylesheet" type="text/css" href="/stylesheets/view-stream.css">
</head>
<body>
<div class="container">

    <div class="video">
        <canvas  id="video-canvas"></canvas>
    </div>

    <div class="category">
        <div class="menu-title">
            <ul class="menu">
                <li class="menu-1">
                    <div class="numu-div">设备列表</div>
                </li>
                <li class="menu-2">
                    <div class="numu-div">报警信息</div>
                </li>
            </ul>
        </div>
        <div class="menu-content">
            <div class="menu-content-1">
                <h2>设备列表</h2>
                <div class="equipments">
                    <form class="equipments-list" action="/play" method="post" onsubmit="return false">
                        <% for(var i = 0;i < videos.length ;i++) { %>
                        <label><input type="radio" class="choice" name="video_id" value="<%=videos[i].id%>" /><%=videos[i].name%></label>
                        <% } %>
                        <label><input class="width" style="display: none;" type="text" name="width" value="" /></label>
                        <label><input class="height" style="display: none;" type="text" name="height" value="" /></label>
                        <label><input class="username" style="display: none;" type="text" name="username" value="<%=username%>" /></label>
                        <label class="switch"><button id="switch" type="button" value="切换设备">切换设备</button></label>
                    </form>
                </div>
            </div>
            <div class="menu-content-2">
                <h2>报警信息</h2>
                <div class="alarm">
                    <ul class="alarm-list">
                        <% for(var i = 0;i < alarms.length;i++){ %>
                        <li>
                            <div class="alarm-img ">
                                <img class="img img-min" src="<%=alarms[i].img%>"/>
                            </div>
                            <div class="message">
                                <div class="time"><%=alarms[i].time%></div>
                                <div class="type"><%=alarms[i].type%></div>
                                <div class="equipment"><%=alarms[i].ip%></div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

<!--<div class="img-max-background">-->
<!--<img class="img-max" src=""/>-->
<!--</div>-->

<script src="/javascripts/jquery.min.js"></script>
<!--<script src="{% static 'lib/js/bootstrap.min.js'  %}"></script>-->
<script type="text/javascript" src="/lib/layui/layui.all.js" ></script>
<script type="text/javascript" src="/javascripts/jsmpeg.min.js"></script>
<script type="text/javascript">


    var current_player = null;
    var current_id = '<%=video_id%>';
    var uuid = '<%=uuid%>';
    var username = '<%=username%>';
    var canvas = document.getElementById('video-canvas');
    var width = window.innerWidth;
    var height = window.innerHeight;
    canvas.width = width;
    canvas.height = width / 1.78;

    // if(current_id!='-1'){
        createPlayer(current_id,uuid,username);
    // }
    var stream_count = 0;


    function createPlayer(video_id,uuid,username){
        var url = 'ws://192.168.2.100:8112/';
        var player = new JSMpeg.Player(url, {canvas: canvas});
        current_player = player;

        // var ws_socket = null;
        // var socket = null;
        // while((ws_socket=player.getWSSocket())==null);
        // while((socket=ws_socket.getSocket())==null);


        // socket.send('msg');
        //
        // socket.onopen = function(ev){
            // console.log('open socket');
            // socket.send(JSON.stringify({
            //     type:"PHONE",uuid:uuid
            // }))
            // console.log("phone send success!");
            // // socket.onmessage = function (data) {
            // //     console.log('count:'+stream_count++);
            // // }
        // }
    }

    //切换视频的逻辑
    $('#switch').click(function () {
        console.log("未同步刷新");

        //检查是否同一视频
        var item = $(":radio:checked");
        var new_id = item.val();
        console.log('new_id:'+new_id+',current_id:'+current_id);

        if (new_id==current_id){
            return;
        }else{
            //开始切换。切换成功后更新current_id
            //1,请求 http:post /play
            console.log('begin post');
            $.post(
                '/play',
                {
                    username:username,
                    video_id:new_id,
                    width:width,
                    height:Math.floor(width/1.78),
                },
                function (data) {
                    console.log('post success');
                    if(data.ret_code==0){
                        if(current_player!=null)
                            current_player.destroy();
                        createPlayer(new_id,data.uuid,data.username);
                    }else{
                        console.log('error:'+data.err_msg);
                    }
                }
            )

        }

    });








    // 设置画布的响应大小，原视频尺寸是：1920 x 1080 (1.78)

    $('.width').val(width);
    $('.height').val(Math.floor(width/1.78));


    //顺便帮css把category定一下位。
    $('.video').height(width/1.76);
    $('.category').height(height - width/1.76);

    //关于页面的一些动作
    $('.menu-content-2').show();
    $('.menu-content-1').hide();
    $('.menu-1').click(function () {
        $('.menu-content-1').show();
        $('.menu-content-2').hide();
    })
    $('.menu-2').click(function () {
        $('.menu-content-2').show();
        $('.menu-content-1').hide();
    })

    //关于图像的动作

    layui.define(['layer', 'form'], function(exports){
        var layer = layui.layer
            ,form = layui.form;
        exports('index', {}); //注意，这里是模块输出的核心，模块名必须和use时的模块名一致
    });

    console.log('pre');
    $('.img').click(function () {
        console.log('ok!')
        var img = new Image();
        var src = $(this).attr('src');
        console.log(src);
        var imgHtml = '<img style="width:320px;height: 180px;" src=" '+ src +' "   />';
        layer.open({
            type: 1,
            shade: false,
            title: false, //不显示标题
            area:['320px','180px'],
            // area: [img.width + 'px', img.height+'px'],
            content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            cancel: function(index, layero){
                layer.close(index)
                return true;
            },


        });
    });



    var ws = new WebSocket('ws://' + document.location.hostname + ':8082');
    var alarms = {ip:'0', type:'0', time:'0', img:'0'};
    function updataUI() {

        // WebSocket message handler
        ws.onmessage = function (e) {
            var alarmData = JSON.parse(e.data);
            var new_li = '<li>\n' +
                '                            <div class="alarm-img ">\n' +
                '                                <img class="img img-min" src="'+ alarmData['img'] +'"/>\n' +
                '\n' +
                '\n' +
                '                            </div>\n' +
                '                            <div class="message">\n' +
                '                                <div class="time">'+ alarmData['time'] +'</div>\n' +
                '                                <div class="type">'+ alarmData['type'] +'</div>\n' +
                '                                <div class="equipment">'+ alarmData['ip'] +'</div>\n' +
                '                            </div>\n' +
                '                        </li>';

            $('.alarm-list').prepend(new_li)

            // 每次更新要绑定一次事件

            $('.img').eq(0).click(function () {
                var img = new Image();
                var src = $(this).attr('src');
                var imgHtml = '<img style="width:320px;height: 180px;" src=" ' + src + ' "   />';
                layer.open({
                    type: 1,
                    shade: false,
                    title: false, //不显示标题
                    area: ['320px', '180px'],
                    // area: [img.width + 'px', img.height+'px'],
                    content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                    cancel: function (index, layero) {
                        layer.close(index)
                        return true;
                    },


                });
            });

        };
    }

    updataUI();


    //禁止选择同一视频
    function check() {
        var item = $(":radio:checked");
        var new_id = item.val();
        console.log('new_id:'+new_id+',current_id:'+current_id);

        if (new_id!=current_id){
            current_id = new_id;
            console.log('true:new_id:'+new_id+',current_id:'+current_id);
            return true;
        }else{
            console.log('false:new_id:'+new_id+',current_id:'+current_id);
            return false;
        }
        return false;
    }

</script>
</body>
</html>
